@import "tailwindcss";
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 15s linear infinite;
}

@keyframes slideCenter {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideCenter {
  animation: slideCenter 1s ease forwards;
}

.delay-200 {
  animation-delay: 0.2s;
}

@keyframes rotateSlow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-rotateSlow {
  animation: rotateSlow 12s linear infinite;
}

@keyframes rotateFast {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-rotateFast {
  animation: rotateFast 2s linear infinite;
}


html {
  scroll-behavior: smooth;
}

body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.snap-section {
  scroll-snap-align: start;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

@import "leaflet/dist/leaflet.css";

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  min-width: 100%;
  animation: marquee 18s linear infinite;
}


.marquee-track {
  display: flex;
  width: max-content;
}

.marquee-content {
  white-space: nowrap;
  padding-right: 50px;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-30%);
  }
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #cb7c7c;
  margin-top: 4px;
}